.base-container {
  background-color: var(--clr-neutral-750);
  min-height: 100dvh;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .game-main-container {
    min-width: 100dvw;
    min-height: 100dvw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .game-main-container {
    width: 85dvw;
    height: 85dvw;
  }
}

@media screen and (min-width: 992px) {
  .game-main-container {
    min-width: 27.5rem;
    min-height: 27.5rem;
    width: 38dvw;
    height: 38dvw;
  }
}
