.listItem {
  transition: all 0.2s ease-in-out;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.listItem img {
  width: 32px;
}

.listItem:hover {
  background-color: var(--clr-neutral-800);
  cursor: pointer;
}
