.custom-button-primary {
  --bgColor: var(--clr-red-450);
  --bgColorHover: var(--clr-red-400);
  --borderBottomLine: var(--clr-red-550);
  --borderBottomLineHover: #b85454;
  --buttonTextShadow: rgba(0, 0, 0, 0.3);
}

.custom-button-secondary {
  --bgColor: var(--clr-sky-250);
  --bgColorHover: var(--clr-sky-225);
  --borderBottomLine: var(--clr-sky-275);
  --borderBottomLineHover: #6c91ad;
  --buttonTextShadow: rgba(0, 0, 0, 0.3);
}

.custom-button-success {
  --bgColor: var(--color-green-300);
  --bgColorHover: #a3d160;
  --borderBottomLine: var(--color-green-500);
  --borderBottomLineHover: var(--color-green-400);
  --buttonTextShadow: rgba(0, 0, 0, 0.3);
}

.custom-button-neutral {
  --bgColor: var(--clr-neutral-500);
  --bgColorHover: var(--clr-neutral-400);
  --borderBottomLine: var(--clr-neutral-550);
  --borderBottomLineHover: var(--clr-neutral-500);
  --buttonTextShadow: rgba(0, 0, 0, 0.3);
}

.custom-button-danger {
  --bgColor: var(--clr-red-600);
  --bgColorHover: var(--clr-red-450);
  --borderBottomLine: rgb(167, 26, 26);
  --borderBottomLineHover: var(--clr-red-600);
  --buttonTextShadow: rgba(0, 0, 0, 0.3);
}

.custom-button-component {
  --borderHeight: 0.4rem;
  background-color: var(--bgColor);
  border: 0;
  box-shadow: 0 7px var(--borderBottomLine);
  text-shadow: 0 2px var(--buttonTextShadow);
  touch-action: manipulation;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease-out;
}

.custom-button-component:hover {
  background-color: var(--bgColorHover);
  box-shadow:
    0 7px var(--borderBottomLineHover),
    0 0 10px var(--borderBottomLineHover);
}

.custom-button-component:active {
  background-color: var(--bgColorHover) !important;
  box-shadow: none !important;
  opacity: 0.9 !important;
  transform: translateY(7px);
}
