.form-input {
  background-color: var(--clr-neutral-750) !important;
  border: 1px solid var(--clr-neutral-400);
}

.form-control:focus {
  border-color: #80aed0 !important;
  box-shadow: 0 0 0 0.1rem #abb8c2;
}

.no-icon {
  background-image: none !important;
}

.error-message {
  color: var(--clr-red-450);
}
