.custom-card-wrapper {
  width: 270px;
  height: 350px;
}

.custom-card {
  --borderBottomLine: var(--clr-neutral-900);
  --borderBottomLineHover: var(--clr-neutral-950);
  --borderHeight: 0.4rem;
  --bgColor: var(--bs-dark);
  --bgColorHover: var(--clr-neutral-900);
  background-color: var(--bgColor);
  border: 0;
  box-shadow: 0 7px var(--borderBottomLine);
}

.custom-card:hover {
  background-color: var(--bgColorHover);
  box-shadow:
    0 7px var(--borderBottomLineHover),
    0 0 0;
}

.custom-card:active {
  background-color: var(--bgColorHover) !important;
  box-shadow: none !important;
  opacity: 0.9 !important;
  transform: translateY(7px);
}

.custom-card-text {
  color: var(--color-transparent-white-72);
}

.custom-card-icon {
  width: 8rem;
}
