.background-theme {
  height: 100dvh;
}

.background-theme:before {
  background: var(--clr-neutral-750)
    url("../../assets/login-register-background-img.png") repeat-x bottom;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

.form-container {
  background-color: var(--clr-neutral-550);
  width: 26rem;
  max-width: 100%;
}
