.backgroundTheme {
  background: var(--clr-neutral-750)
    url("../../assets/login-register-background-img.png") repeat-x bottom;
  background-size: contain;
}

.formContainer {
  background-color: var(--clr-neutral-550);
  width: 26rem !important;
  max-width: 100% !important;
}

.baseContainer {
  min-height: 100svh;
}
