.backgroundDiv {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.centeredDiv {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.checkersText {
  font-family: Arial, Helvetica, sans-serif;
  color: #196700;
}

.btn-primary {
  background-color: #196700 !important;
  border-color:  #196700 !important;
}

.copyright {
  color: white;
}