.background{
    width: auto;
    min-height: 100vh;
    background-color: #303030;
}

.header{
    background-color: #404040;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoutButton {
    width: 200px;
    font-weight: bold !important;
    border-radius: 0 !important;
}

.logoutButton:hover {
    background-color: darkred;
}

.logo{
  color: white;
}

.body{
    display: grid;
    grid-row: 2;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.card-container > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container > .row > .col {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.card {
    width: calc(25% - 10px); 
    margin-bottom: 20px; 
}

.cardBody{
  background-color: #2B2B2B;
}

.cardBackground{
  background-color: #FADAAE;
  width: auto;
  height: 150px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header{
  padding: 0 !important;
  border-radius: 20px;
}

.card1bcg{
  background-color: #FADAAE;
}

.card2bcg{
  background-color: #FCE26A;
}

.card3bcg{
  background-color: #486688;
}

.card4bcg{
  background-color: #9D6C3E;
}

.card5bcg{
  background-color: #4DC3EA;
}

.card6bcg{
  background-color: #543426;
}

.card7bcg{
  background-color: #324660;
}

.card8bcg{
  background-color: #D5A47D;
}







@media (max-width: 1200px) {
  .card-container > .row > .col {
    width: calc(33.33% - 10px); 
  }
}

@media (max-width: 992px) {
  .card-container > .row > .col {
    width: calc(50% - 10px); 
  }
}

@media (max-width: 768px) {
  .card-container > .row > .col {
    width: 100%; 
  }
}